.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .main {
    // max-width: 1024px;
    margin: auto;
  }
}

@media screen and (min-width: 1032px) {
  .mainContainer {
    .main {
      max-width: 1024px;
    }
  }
}
